//font styling is in _font.scss partial

.button-style {
    border: none;
    padding: 15px 25px;
    box-sizing: content-box;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
    
    &:active {
        transform: translateY(3px);
    }
}

.button-primary {
    @include set-color($clr-btn-prim-bg, $clr-btn-prim-font);
    margin-top: 20px;

    &:hover,
    &:focus {
        @include set-color($clr-btn-prim-font, $clr-btn-prim-bg);
        box-shadow: 0 5px $clr-btn-prim-bg;
    }

    &:active {
        box-shadow: 0 2px $clr-btn-prim-bg;
    }
}
    
.button-secondary {
    @include set-color($clr-btn-secon-bg, $clr-btn-secon-font);

    &:hover,
    &:focus {
        @include set-color($clr-btn-secon-font, $clr-btn-secon-bg);
        box-shadow: 0 5px $clr-btn-secon-bg;
    }

    &:active {
        box-shadow: 0 2px $clr-btn-secon-bg;
    }
}