//font styling is in _font.scss partial

.button-style {
    border: none;
    padding: 8px 25px;

    &.button-primary {
        @include set-color($clr-btn-prim-bg, $clr-btn-prim-font);
        margin-top: 20px;
    }
    
    &.button-secondary {
        @include set-color($clr-btn-secon-bg, $clr-btn-secon-font)
    }
}
