//Contact Page Only
.form-contact .form-container{
    border: 50px solid $clr-slate-blue;
    box-shadow: 20px 20px $clr-turq-blue;
    transform: translate(11%, -180px);
    width: 50%;
    margin-left: 1.5%;
    
    input::placeholder,
    textarea::placeholder {
        color: inherit;
    }
}

//Blog Page Only
.form-blog {
    input::placeholder,
    textarea::placeholder {
        color: $clr-slate-blue;
    }
}

//General Form
.form-contact div.flex {
    width: 100%;
}

form {
    width: 100%;
    height: 570px;
    box-sizing: border-box;

    input::placeholder,
    textarea::placeholder {
        opacity: 1;
    }

    input#name,
    input#email {
        background: none;
        padding: 12px 20px;
        border: none;
        border-bottom: 2px solid $clr-turq-blue;
        flex: 1 1 44%;
        line-height: 3rem;
        display: inline-block;
        min-width: 0;
    }

    input#name {
        margin-right: 50px;
    }

    textarea#message,
    input#submit {
        flex: 1 1 100%;
    }

    textarea#message {
        background: none;
        margin: 50px auto;
        padding: 30px 30px;
        border: 2px solid $clr-turq-blue;
    }
}