.date {
    font-weight: bold;
    margin: 0;
}

article,
.comment-section {
    width: 60%;
}

.padding-left {
    padding-left: 17%;
}

div.margin-left {
    margin-left: 17%;
}

div.section-translate {
    transform: translateY(-6%);
}

article {
    padding-bottom: 100px;
    border-bottom: 15px solid $clr-turq-blue;
    box-shadow: 15px 0 $clr-turq-blue;
    position: relative;
    z-index: 1;

    .h2-secondary {
        text-align: left;
    }

    .date {
        color: $clr-shade-sky-blue;
    }

    .img-box {
        width: 100%;
        position: relative;

        &::after {
            content: "";
            @include pos-absolute(0, 0, 0, 50px);
            background-color: $clr-turq-blue;
            z-index: 2;
        }

        img {
            position: relative;
            z-index: 10;
            width: 100%;
            transform: translate(-15px, -25px);
            transform-origin: right bottom;
        }
    }

    p {
        padding-right: 80px;
    }
}

.comment-container {
    align-items: flex-start;
    margin: 50px 0;
    
    .comment-img {
        flex: 0 1 10%;

        img {
            display: block;
            width: 100%;
        }
    }

    .comment-text {
        flex: 0 1 85%;
    }
}