.learn-new {
    padding-top: 150px;
    align-items: flex-start;

    h2 {
        margin-top: 0;
    }

    .content-text {
        width: 65%;
    }

    img {
        box-shadow: -20px 20px $clr-turq-blue;
    }
}