.notice-content {
    width: 100%;

    &:first-of-type {
        margin-bottom: 100px;
    }

    h2 {
        margin-top: 0;
    }
    
    &:nth-of-type(1) h2 {
        text-align: initial;
    }

    &.flex-reverse {
        flex-direction: row-reverse;
        text-align: right;
    }
    
    img {
        display: block;
        width: 100%;
        transform: scale(1.32);
    }

    &:first-of-type img {
        transform-origin: right bottom;
        box-shadow: 13px 13px $clr-turq-blue;   
    }

    &:last-of-type img {
        transform-origin: top left;
        box-shadow: -13px 13px $clr-turq-blue;   
    }
}

.notice-img,
.notice-text {
    width: 40%;
}


