@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Pacifico&display=swap');

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Pacifico', cursive;

body, 
nav,
.footer-font {
    font-family: $font-primary;
}

h1,
h2,
h3,
h4,
.logo,
.button-style {
    font-family: $font-secondary;
    font-weight: unset;
}

* {
    font-size: 20px;    
    // font-size($size, $height, $space)
}

h1 {

    &.h1-main-page {
        @include font-size(2.9rem, 68px, initial);
    }

    &.h1-other-page {
        @include font-size(3.4rem, 64px, initial);
    }
}

h2 {
    margin-bottom: 5px;

    &.h2-primary {
        @include font-size(2.15rem, 58px, 2.7px);
    }

    &.h2-secondary{
        @include font-size(2rem, 58px, 2.5px);
        text-align: right;
    }

    &.h2-comments {
        @include font-size(2rem, initial, 4.3px);
    }
}

h3 {
    @include font-size(1.75rem, initial, 2.9px);
}

h4.logo {
    @include font-size(1.5rem, 24px, 1.7px);
}

.button-style {
    @include font-size(1.35rem, 32px, 1.4px);
    text-align: center;
}

nav {
    @include font-size(1rem, 29px, 1.4px);
    font-weight: bold;
    text-align: center;
}

i {
    @include font-size(1.4rem, 32px, initial);
    text-align: center;
}

body {
    @include font-size(1rem, 28px, 2px);
}