@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Pacifico&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

body,
nav,
.footer-font {
  font-family: "Lato", sans-serif; }

h1,
h2,
h3,
h4,
.logo,
.button-style {
  font-family: "Pacifico", cursive;
  font-weight: unset; }

* {
  font-size: 20px; }

h1.h1-main-page {
  font-size: 2.9rem;
  line-height: 68px;
  letter-spacing: initial; }

h1.h1-other-page {
  font-size: 3.4rem;
  line-height: 64px;
  letter-spacing: initial; }

h2 {
  margin-bottom: 5px; }
  h2.h2-primary {
    font-size: 2.15rem;
    line-height: 58px;
    letter-spacing: 2.7px; }
  h2.h2-secondary {
    font-size: 2rem;
    line-height: 58px;
    letter-spacing: 2.5px;
    text-align: right; }
  h2.h2-comments {
    font-size: 2rem;
    line-height: initial;
    letter-spacing: 4.3px; }

h3 {
  font-size: 1.75rem;
  line-height: initial;
  letter-spacing: 2.9px; }

h4.logo {
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.7px; }

.button-style {
  font-size: 1.35rem;
  line-height: 32px;
  letter-spacing: 1.4px;
  text-align: center; }

nav {
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1.4px;
  font-weight: bold;
  text-align: center; }

i {
  font-size: 1.4rem;
  line-height: 32px;
  letter-spacing: initial;
  text-align: center; }

body {
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px; }

body {
  overflow-x: hidden; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

nav ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  nav ul li {
    position: relative;
    margin-left: 50px; }
    nav ul li a {
      color: #1A315C;
      text-decoration: none; }
    nav ul li:hover::after {
      content: "";
      position: absolute;
      top: none;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid #0CADC0; }

.button-style {
  border: none;
  padding: 8px 25px; }
  .button-style.button-primary {
    background-color: #1A315C;
    color: #FFFFFF;
    margin-top: 20px; }
  .button-style.button-secondary {
    background-color: #C6D8FA;
    color: #161515; }

.form-contact .form-container {
  border: 50px solid #1A315C;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0; }
  .form-contact .form-container input::-webkit-input-placeholder, .form-contact .form-container textarea::-webkit-input-placeholder {
    color: inherit; }
  .form-contact .form-container input::-moz-placeholder, .form-contact .form-container textarea::-moz-placeholder {
    color: inherit; }
  .form-contact .form-container input:-ms-input-placeholder, .form-contact .form-container textarea:-ms-input-placeholder {
    color: inherit; }
  .form-contact .form-container input::-ms-input-placeholder, .form-contact .form-container textarea::-ms-input-placeholder {
    color: inherit; }
  .form-contact .form-container input::placeholder,
  .form-contact .form-container textarea::placeholder {
    color: inherit; }

.form-blog input::-webkit-input-placeholder, .form-blog textarea::-webkit-input-placeholder {
  color: #1A315C; }

.form-blog input::-moz-placeholder, .form-blog textarea::-moz-placeholder {
  color: #1A315C; }

.form-blog input:-ms-input-placeholder, .form-blog textarea:-ms-input-placeholder {
  color: #1A315C; }

.form-blog input::-ms-input-placeholder, .form-blog textarea::-ms-input-placeholder {
  color: #1A315C; }

.form-blog input::placeholder,
.form-blog textarea::placeholder {
  color: #1A315C; }

.form-container {
  width: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transform: translate(11%, -180px);
          transform: translate(11%, -180px); }

form {
  width: 100%;
  height: 570px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    opacity: 1; }
  form input::-moz-placeholder, form textarea::-moz-placeholder {
    opacity: 1; }
  form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    opacity: 1; }
  form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
    opacity: 1; }
  form input::placeholder,
  form textarea::placeholder {
    opacity: 1; }
  form input#name,
  form input#email {
    background: none;
    padding: 12px 20px;
    border: none;
    border-bottom: 2px solid #0CADC0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
    line-height: 3rem; }
  form textarea#message,
  form input#submit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 94%;
            flex: 0 1 94%; }
  form input#submit {
    margin: 0 auto; }
  form textarea#message {
    background: none;
    margin: 50px auto;
    padding: 30px 30px;
    border: 2px solid #0CADC0; }

header {
  background-repeat: no-repeat;
  background-size: cover; }
  header.main {
    height: 95vh;
    background-image: url(../assets/header-home.jpg);
    background-position: bottom right; }
    header.main h1 {
      width: 40%; }
  header.blog {
    height: 70vh;
    background-image: url(../assets/blog-header.jpg); }
  header.contact {
    height: 72vh;
    background-image: url(../assets/contact-header.jpg); }
  header .header-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%; }
  header .logo {
    color: #1E1713; }
  header h1 {
    color: #1A315C;
    width: 50%; }
  header .position-absolute {
    position: relative; }
    header .position-absolute img {
      position: absolute;
      display: block;
      min-width: 900px;
      width: 50%;
      -webkit-transform: translateY(15%);
              transform: translateY(15%); }

.section-primary {
  background-color: #CCEDFB;
  color: #1E1713; }
  .section-primary .h2-primary {
    color: #1A315C; }

.section-secondary {
  background-color: #1A315C;
  color: #FFFFFF; }
  .section-secondary .h2-secondary {
    color: #F5F6FF; }

section {
  padding: 80px 0; }

.banner {
  padding: 0; }
  .banner img {
    display: block;
    width: 100%; }

.search {
  text-align: center; }

.learn-new {
  padding-top: 150px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .learn-new h2 {
    margin-top: 0; }
  .learn-new .content-text {
    width: 65%; }
  .learn-new img {
    -webkit-box-shadow: -20px 20px #0CADC0;
            box-shadow: -20px 20px #0CADC0; }

.gallery .gallery-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc((100%-2%) / 3);
          flex: 1 0 calc((100%-2%) / 3); }
  .gallery .gallery-image:nth-of-type(2) {
    margin: 0 1%; }

.gallery img {
  display: block;
  width: 100%; }

.guide .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.guide .no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.guide .guide-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%; }

.guide-icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 60px;
  min-height: 60px;
  margin: 38px 20px 0 0;
  padding: 14px;
  background-color: #0CADC0;
  color: #FFFFFF;
  border-radius: 50%; }
  .guide-icon i {
    width: 100%; }

.notice-content {
  width: 100%; }
  .notice-content:first-of-type {
    margin-bottom: 100px; }
  .notice-content h2 {
    margin-top: 0; }
  .notice-content:nth-of-type(1) h2 {
    text-align: initial; }
  .notice-content.flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right; }
  .notice-content img {
    display: block;
    width: 100%;
    -webkit-transform: scale(1.32);
            transform: scale(1.32); }
  .notice-content:first-of-type img {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-box-shadow: 13px 13px #0CADC0;
            box-shadow: 13px 13px #0CADC0; }
  .notice-content:last-of-type img {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-box-shadow: -13px 13px #0CADC0;
            box-shadow: -13px 13px #0CADC0; }

.notice-img,
.notice-text {
  width: 40%; }

footer {
  background-color: #161515;
  color: #FFFFFF;
  text-align: center;
  font-weight: initial; }
  footer .footer-font {
    margin: 0; }

.form-section {
  position: relative;
  padding: 0; }

.address {
  width: 30%;
  color: #1A315C;
  position: absolute;
  top: 20%;
  right: 0; }
  .address ul {
    list-style: none;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .address a {
    color: inherit;
    text-decoration: none;
    margin-right: 30px; }

address p {
  margin: 0;
  font-style: normal; }

.date {
  font-weight: bold; }

article,
.comment-section {
  width: 60%; }
