@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Pacifico&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

body,
nav,
.footer-font {
  font-family: "Lato", sans-serif; }

h1,
h2,
h3,
h4,
.logo,
.button-style {
  font-family: "Pacifico", cursive;
  font-weight: unset; }

* {
  font-size: 20px; }
  @media (max-width: 600px) {
    * {
      font-size: 18px; } }
  @media (max-height: 500px) {
    * {
      font-size: 16px; } }

h1.h1-main-page {
  font-size: 2.9rem;
  line-height: 68px;
  letter-spacing: initial; }

h1.h1-other-page {
  font-size: 3.4rem;
  line-height: 64px;
  letter-spacing: initial; }

h2 {
  margin-bottom: 5px; }
  h2.h2-primary {
    font-size: 2.15rem;
    line-height: 58px;
    letter-spacing: 2.7px; }
  h2.h2-secondary {
    font-size: 2rem;
    line-height: 58px;
    letter-spacing: 2.5px;
    text-align: right; }
  h2.h2-comments {
    font-size: 2rem;
    line-height: initial;
    letter-spacing: 4.3px; }

h3 {
  font-size: 1.75rem;
  line-height: initial;
  letter-spacing: 2.9px; }

h4.logo {
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.7px; }

.button-style {
  font-size: 1.35rem;
  line-height: 32px;
  letter-spacing: 1.4px;
  text-align: center; }

nav {
  font-size: 1rem;
  line-height: 29px;
  letter-spacing: 1.4px;
  font-weight: bold;
  text-align: center; }

i {
  font-size: 1.4rem;
  line-height: 32px;
  letter-spacing: initial;
  text-align: center; }

body {
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px; }

body {
  overflow-x: hidden; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  @media (max-width: 800px) {
    .no-wrap {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.wrapper {
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 1400px) {
    .wrapper {
      width: 90%; } }

.skip-link a {
  background-color: #1A315C;
  color: #FFFFFF;
  position: absolute;
  left: -2000px; }
  .skip-link a:focus {
    position: absolute;
    left: 50%; }

a {
  text-decoration: none; }

nav ul {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  nav ul li {
    position: relative;
    margin-left: 50px; }
    nav ul li a {
      color: #1A315C; }
    nav ul li a:hover::after,
    nav ul li a:focus::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid #0CADC0; }

.main nav li:first-of-type a::after,
.blog nav li:nth-of-type(3) a::after,
.contact nav li:last-of-type a::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #0CADC0; }

.navButton,
.nav-toggle {
  display: none; }

.navButton {
  background-color: #CCEDFB;
  color: #1A315C;
  position: fixed;
  padding: 5px 7px;
  border: 4px solid #0CADC0;
  top: 1.5rem;
  right: 1.5rem;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  line-height: 22px;
  z-index: 15; }

.nav-toggle:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.nav-toggle:checked ~ .navButton {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.nav-toggle:checked ~ .logo {
  -webkit-animation: spin 0.3s linear infinite;
          animation: spin 0.3s linear infinite;
  z-index: 30; }

@media (max-width: 800px) {
  nav {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #CCEDFB;
    color: #1A315C;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%;
    position: fixed;
    width: 40%;
    height: 100vh;
    z-index: 10;
    padding: 50px;
    border-left: 20px solid #0CADC0;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out; } }
  @media (max-width: 800px) and (max-width: 600px) {
    nav {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 25%;
      position: fixed;
      width: 75%; } }

@media (max-width: 800px) {
  .navButton {
    display: block; }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20%; }
    nav ul li {
      margin: 10% 0; }
      nav ul li a {
        font-size: 1.6rem; } }
  @media (max-width: 800px) and (max-height: 500px) {
    nav ul {
      padding-top: 5px; }
      nav ul li {
        margin: 10px 0; } }

.button-style {
  border: none;
  padding: 15px 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  .button-style:hover, .button-style:focus {
    text-decoration: underline; }
  .button-style:active {
    -webkit-transform: translateY(3px);
            transform: translateY(3px); }

.button-primary {
  background-color: #1A315C;
  color: #FFFFFF;
  margin-top: 20px; }
  .button-primary:hover, .button-primary:focus {
    background-color: #FFFFFF;
    color: #1A315C;
    -webkit-box-shadow: 0 5px #1A315C;
            box-shadow: 0 5px #1A315C; }
  .button-primary:active {
    -webkit-box-shadow: 0 2px #1A315C;
            box-shadow: 0 2px #1A315C; }

.button-secondary {
  background-color: #C6D8FA;
  color: #161515; }
  .button-secondary:hover, .button-secondary:focus {
    background-color: #161515;
    color: #C6D8FA;
    -webkit-box-shadow: 0 5px #C6D8FA;
            box-shadow: 0 5px #C6D8FA; }
  .button-secondary:active {
    -webkit-box-shadow: 0 2px #C6D8FA;
            box-shadow: 0 2px #C6D8FA; }

.form-contact .form-container {
  padding: 50px;
  background-color: #1A315C;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
  -webkit-transform: translate(11%, -180px);
          transform: translate(11%, -180px);
  width: 55%;
  margin-left: 1.5%; }
  .form-contact .form-container input::-webkit-input-placeholder, .form-contact .form-container textarea::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .form-contact .form-container input::-moz-placeholder, .form-contact .form-container textarea::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .form-contact .form-container input:-ms-input-placeholder, .form-contact .form-container textarea:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .form-contact .form-container input::-ms-input-placeholder, .form-contact .form-container textarea::-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1; }
  .form-contact .form-container input::placeholder,
  .form-contact .form-container textarea::placeholder {
    color: #FFFFFF;
    opacity: 1; }
  @media (max-width: 1100px) {
    .form-contact .form-container {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      width: 90%;
      margin: 0 auto; } }
  @media (max-width: 600px) {
    .form-contact .form-container {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
      width: 95%;
      padding: 40px 10px;
      margin-bottom: 80px; } }
  @media (max-height: 500px) {
    .form-contact .form-container {
      -webkit-transform: translateY(20px);
              transform: translateY(20px); } }

.form-blog input::-webkit-input-placeholder, .form-blog textarea::-webkit-input-placeholder {
  color: #1A315C;
  opacity: 1; }

.form-blog input::-moz-placeholder, .form-blog textarea::-moz-placeholder {
  color: #1A315C;
  opacity: 1; }

.form-blog input:-ms-input-placeholder, .form-blog textarea:-ms-input-placeholder {
  color: #1A315C;
  opacity: 1; }

.form-blog input::-ms-input-placeholder, .form-blog textarea::-ms-input-placeholder {
  color: #1A315C;
  opacity: 1; }

.form-blog input::placeholder,
.form-blog textarea::placeholder {
  color: #1A315C;
  opacity: 1; }

.form-contact div.flex {
  width: 100%; }

form {
  width: 100%;
  height: 570px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  form input#name {
    margin-right: 50px; }
  form input#name,
  form input#email {
    background: none;
    padding: 12px 20px;
    border: none;
    border-bottom: 2px solid #0CADC0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 44%;
            flex: 1 1 44%;
    line-height: 3rem;
    display: inline-block;
    min-width: 0; }
    @media (max-width: 600px) {
      form input#name,
      form input#email {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin: 0; } }
  form textarea#message,
  form input#submit {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; }
  form textarea#message {
    background: none;
    margin: 50px auto;
    padding: 30px 30px;
    border: 2px solid #0CADC0; }

header {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  header.main {
    height: 95vh;
    background-image: url(../assets/header-home.jpg);
    background-position: bottom right; }
    header.main h1 {
      width: 40%; }
      @media (max-height: 500px) {
        header.main h1 {
          width: 55%; } }
      @media (max-width: 600px) {
        header.main h1 {
          width: 70%; } }
  header.blog {
    height: 70vh;
    background-image: url(../assets/blog-header.jpg); }
  header.contact {
    height: 72vh;
    background-image: url(../assets/contact-header.jpg); }
  @media (max-width: 800px) {
    header.main, header.blog, header.contact {
      height: 65vh;
      background-position: bottom right 30%; } }
  @media (max-width: 600px) {
    header.main, header.blog, header.contact {
      height: 100vh;
      background-position: bottom right 35%; } }
  @media (max-width: 480px) {
    header.main, header.blog, header.contact {
      background-position: bottom right 40%; } }
  @media (max-height: 500px) {
    header.main, header.blog, header.contact {
      height: 100vh;
      background-position: bottom right 35%; } }
  header .header-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%; }
  header .logo {
    color: #1E1713; }
    header .logo:hover, header .logo:focus {
      -webkit-animation: spin 0.3s linear infinite;
              animation: spin 0.3s linear infinite; }
  header h1 {
    color: #1A315C;
    width: 50%; }
    @media (max-width: 800px) {
      header h1 {
        width: 70%; } }
    @media (max-width: 600px) {
      header h1 {
        width: 80%; } }
  header .position-relative {
    position: relative; }
  header img {
    position: absolute;
    display: block;
    min-width: 800px;
    width: 50%;
    -webkit-transform: translateY(15%);
            transform: translateY(15%); }
    @media (max-width: 1400px) {
      header img {
        min-width: 500px;
        width: 50%;
        -webkit-transform: translateY(45%);
                transform: translateY(45%); } }
    @media (max-width: 800px) {
      header img {
        display: none; } }

.section-primary {
  background-color: #CCEDFB;
  color: #1E1713; }
  .section-primary .h2-primary {
    color: #1A315C; }

.section-secondary {
  background-color: #1A315C;
  color: #FFFFFF; }
  .section-secondary .h2-secondary {
    color: #F5F6FF; }

section {
  padding: 80px 0; }

.banner {
  padding: 0; }
  .banner img {
    display: block;
    width: 100%; }

.search {
  text-align: center; }

.learn-new {
  padding-top: 150px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .learn-new h2 {
    margin-top: 0; }
  .learn-new .content-text {
    width: 65%; }
  .learn-new img {
    -webkit-box-shadow: -20px 20px #0CADC0;
            box-shadow: -20px 20px #0CADC0; }
  @media (max-width: 800px) {
    .learn-new {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0; }
      .learn-new .content-text {
        width: 100%;
        padding: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media (max-width: 600px) {
    .learn-new .content-text {
      padding: 50px 5px; } }

.gallery-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc((100% - 2%) / 3);
          flex: 1 0 calc((100% - 2%) / 3); }
  .gallery-image:nth-of-type(2) {
    margin: 0 1%; }
  @media (max-width: 600px) {
    .gallery-image:last-of-type {
      display: none; } }

.gallery img {
  display: block;
  width: 100%; }

.guide .flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.guide .guide-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%; }
  @media (max-width: 1400px) {
    .guide .guide-content {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%; } }
  @media (max-width: 800px) {
    .guide .guide-content {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }
  @media (max-width: 600px) {
    .guide .guide-content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .guide .guide-content .guide-text h2 {
        text-align: center; } }

.guide-icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 60px;
  min-height: 60px;
  margin: 38px 20px 0 0;
  padding: 14px;
  background-color: #0CADC0;
  color: #FFFFFF;
  border-radius: 50%; }
  .guide-icon i {
    width: 100%; }
  @media (max-width: 600px) {
    .guide-icon {
      margin-right: 0; } }

.notice {
  overflow-x: hidden; }

.notice-content {
  width: 100%; }
  .notice-content:first-of-type {
    margin-bottom: 100px; }
  .notice-content h2 {
    margin-top: 0; }
  .notice-content:nth-of-type(1) h2 {
    text-align: initial; }
  .notice-content.flex-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right; }
  .notice-content img {
    display: block;
    width: 100%;
    -webkit-transform: scale(1.32);
            transform: scale(1.32); }
  .notice-content:first-of-type img {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-box-shadow: 13px 13px #0CADC0;
            box-shadow: 13px 13px #0CADC0; }
  .notice-content:last-of-type img {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-box-shadow: -13px 13px #0CADC0;
            box-shadow: -13px 13px #0CADC0; }

.notice-img,
.notice-text {
  width: 40%; }

@media (max-width: 1400px) {
  .notice-text {
    width: 50%; } }

@media (max-width: 600px) {
  .notice-text {
    width: 100%;
    margin-top: 20px; } }

@media (max-width: 600px) {
  .notice-img {
    width: 60%;
    margin-bottom: 50px; } }

@media (max-width: 480px) {
  .notice-img {
    margin: 0 auto 50px; } }

footer {
  background-color: #161515;
  color: #FFFFFF;
  text-align: center;
  font-weight: initial; }
  footer .footer-font {
    margin: 0; }
    @media (max-width: 600px) {
      footer .footer-font {
        width: 200px;
        margin: 0 auto; } }

.form-section {
  position: relative;
  padding: 0; }

.address {
  width: 30%;
  color: #1A315C;
  position: absolute;
  top: 20%;
  right: 0; }
  .address ul {
    list-style: none;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (max-width: 1100px) {
      .address ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (max-width: 600px) {
      .address ul {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
  .address a {
    color: inherit;
    text-decoration: none;
    margin-right: 30px; }
    @media (max-width: 1100px) {
      .address a {
        margin: 0 30px; } }
    .address a:hover i,
    .address a:focus i {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      padding-bottom: 1px;
      border-bottom: 3px solid #1A315C; }
  @media (max-width: 1100px) {
    .address {
      position: static;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 50px;
      text-align: center; } }

address p {
  margin: 0;
  font-style: normal; }

.date {
  font-weight: bold;
  margin: 0; }

article,
.comment-section {
  width: 60%; }
  @media (max-width: 1100px) {
    article,
    .comment-section {
      width: 95%;
      padding-bottom: 0; } }

.position-relative {
  position: relative; }
  @media (max-width: 800px) {
    .position-relative {
      padding-bottom: 0; } }

.padding-left {
  padding-left: 17%; }
  @media (max-width: 1100px) {
    .padding-left {
      padding-left: 5%; } }

div.margin-left {
  margin-left: 17%; }
  @media (max-width: 1100px) {
    div.margin-left {
      margin-left: 5%; } }

div.section-translate {
  -webkit-transform: translateY(-6%);
          transform: translateY(-6%); }
  @media (max-width: 1100px) {
    div.section-translate {
      margin-top: 50px; } }
  @media (max-width: 600px) {
    div.section-translate {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      margin: 0; } }

article {
  padding-bottom: 100px;
  border-bottom: 15px solid #0CADC0;
  -webkit-box-shadow: 15px 0 #0CADC0;
          box-shadow: 15px 0 #0CADC0;
  position: relative;
  z-index: 1; }
  article .h2-secondary {
    text-align: left; }
  article .date {
    color: #C6D8FA; }
  article .img-box {
    position: relative; }
    article .img-box::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50px;
      background-color: #0CADC0;
      z-index: 2; }
  article img {
    position: relative;
    z-index: 10;
    width: 100%;
    -webkit-transform: translate(-15px, -25px);
            transform: translate(-15px, -25px);
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom; }
  article p {
    padding-right: 80px; }
    @media (max-width: 600px) {
      article p {
        padding-right: 15px; } }

.comment-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 0; }
  .comment-container .comment-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%; }
    .comment-container .comment-img img {
      display: block;
      width: 100%; }
    @media (max-width: 600px) {
      .comment-container .comment-img {
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%; }
        .comment-container .comment-img img {
          border-radius: 50%;
          border: 2px solid #1A315C; } }
  .comment-container .comment-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%; }
    @media (max-width: 600px) {
      .comment-container .comment-text {
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; } }

aside {
  position: absolute;
  top: 7%;
  right: 0;
  bottom: auto;
  left: auto;
  width: calc(25% + 30px); }
  aside h3 {
    margin-bottom: 0; }
  aside p,
  aside ul {
    margin-top: 0;
    padding-right: 50px; }
    @media (max-width: 600px) {
      aside p,
      aside ul {
        padding-right: 15px; } }
  aside .aside-img,
  aside .aside-text {
    margin-left: 30px; }
    @media (max-width: 600px) {
      aside .aside-img,
      aside .aside-text {
        margin-left: 15px; } }
  @media (max-width: 600px) {
    aside .aside-img {
      display: none; } }
  aside .img-box {
    width: 100%;
    overflow: hidden;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px); }
    aside .img-box img {
      width: 100%;
      display: block;
      -webkit-transform: translateY(1px);
              transform: translateY(1px); }
  aside ul {
    list-style-position: inside;
    padding-left: 10px; }
    aside ul a {
      color: inherit; }
  @media (max-width: 1100px) {
    aside {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 90%;
      margin: 0 auto;
      -webkit-transform: translateY(-160px);
              transform: translateY(-160px); }
      aside .img-box {
        -webkit-transform: translate(-50px, -20px);
                transform: translate(-50px, -20px);
        overflow: visible; }
      aside img {
        -webkit-box-shadow: 15px 15px #0CADC0;
                box-shadow: 15px 15px #0CADC0; } }
  @media (max-width: 600px) {
    aside {
      -webkit-transform: translateY(-170px);
              transform: translateY(-170px); } }
